:root {
    --black_red: rgba(254, 44, 49, 0.72);
}

.companyAlert {

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    background-color: var(--black_red);
    color: white;
}